@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
 }
 body {
     margin: 0px;
     padding: 0px;
 }

 a {
     text-decoration: none;
 }
 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#161B27;
    font-family: 'Montserrat', sans-serif;
}
.logo {
    color: rgb(226,226,226) ;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width:40%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: #A5C9FF;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;  
}
.burger {
    display: none;
}
.burger div {
    width: 20px;
    height: 3px;
    background-color: #A5C9FF;
    margin:5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right :0px;
        height:30vh;
        top: 8vh;
        background-color: #161B27;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    /* .nav-links li {
        opacity: 0;

    } */
    .burger {
        display: block;
    }
    .nav-active {
        transform: translateX(0%);

    }
    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        } to {
            opacity: 1;
            transform: translate(0px);
        }
        
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
}

.p-slider {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 50px 0px;

 }
 .product-slider-heading {
     font-size :28px;
     color: white;
     text-align: center;
     margin: 0px;
 }
 .product-box{
     display: flex;
     flex-direction: column;
     width: 500px;
     padding: 15px;
     border: 1px solid rgba(0,0,0,0.08);
     border-radius: 10px;
     margin: 0px 20px;
     position: relative;
 }

 .p-img-container{
     width: 100%;
     height: 100%;
     display: flex;
     overflow: hidden;
 }

 .p-img a , p-img {
     width: 100%;
     height: 200px;
     display: flex;

 }
 
 p-img a img {
     width: 100%;
     height:100%;
     object-fit: contain;


 }
 p-box-text {
     margin-top:5px;
     width: 100%;
 }

 .product-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
 }
 .product-category span{
    color: #999;
    font-size: 0.9rem;
    margin: 5px 0px;
 }
 .product-title {
     color: #A5C9FF;
     font-weight: 500;
     text-decoration: none;
     transition: all ease 0.3s;

 }
 .product-title:hover {
     color: #111;
     opacity: 0.7;
     transition:  all ease 0.3s;
 }

 .reservenow {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 8px;
 }
.rent-button {
    color: #e63;
    margin: 0px 5px;
    font-weight: 600;
}
 

 